:root {
	--color-bg: #000;
	--color-bg-translucent: #00000062;
	--color-bg-secondary: #141414;
	--color-text: #fff;
	--color-text-secondary: #b4b4b4; /* :before (real) */
	--color-button-default: #101010;
	--color-button-hover: #fff;
	--color-button-text-hover-inverted: #000; /* --color-text dictates the default color */
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg: #fff;
		--color-bg-translucent: #ffffff62;
		--color-bg-secondary: #ebebeb;
		--color-text: #000;
		--color-text-secondary: #4b4b4b;
		/* note: buttons won't be inverted, as visibility is terrible for some reason
		or is that just my monitor */
		--color-button-default: #e4e4e4;
		--color-button-hover: #000;
		--color-button-text-hover-inverted: #fff;
	}
}

@font-face {
	font-family: Lexend;
	src: url(Lexend-Regular.woff2);
	font-weight: normal;
}

@font-face {
	font-family: Lexend;
	src: url(Lexend-Bold.woff2);
	font-weight: bold;
}

#panic {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: var(--color-bg);
	width: 100vw;
	height: 100vh;
	z-index: -99; /* ensure never overlapping something */
}

.onTop {z-index:9999 !important}

body {
	color: var(--color-text);
	text-align: center;
	user-select: none;
	overflow: hidden;
	margin-top: 2em;

	opacity: 0;

	transition: background-color .3s, color .3s;
}

body, button {
	font-family: 'Lexend', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {margin: 1px}
*:focus-visible {
	outline: var(--color-text) dotted 2px;
	transition: none;
}

@media (prefers-reduced-motion) {
	button::before{transition:none!important}
	*{transition:none!important}
}

.hidden {display: none !important}

.centered {
	position: fixed;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.fadein {animation: fadein 300ms}
.fadeout {animation: fadein 300ms reverse}
@keyframes fadein {
	from {opacity:0}
	to {opacity:1}
}

a {color: #00aeff}

.cursor-wait {cursor:wait}
#cursor-wait-hbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background-color: var(--color-bg-translucent);

	z-index: 9999;
}

#main-container {
	margin-right: 50px;
	margin-left: 50px;
}

#title {
	transform-origin: center;
	transform: rotate(-3deg);
}
#title span {
	transform: rotate(1.4deg);
	font-size: 0.6em;
	color: var(--color-text-secondary);

	position: absolute;
	bottom: -0.5em;
	right: 6.5em;
}

#copyright {
	position: fixed;
	left: 5px;
	bottom: 5px;
	margin: 0px;
	color: var(--color-text-secondary);
}

#done-txt {
	position: fixed;
	left: 50%;
	top: 38%;
	transform: translate(-50%, -50%);
	color: lightgreen;
}

#btn-optimize {
	position: fixed;
	left: 50%;
	top: 50%;
}

#btn-studio {
	position: fixed;
	left: 50%;
	top: 63.5%;
}

.transform-centering {transform: translate(-50%, -50%)}

/* okay not half but you get the point */
button.half-width {width: 198px; padding: 0.3em 0.6em}
button.half-height {height: 60px}
button.half-height p {font-size: 0.6em}
button.secondary-btn {
	position:fixed;
	top: 75.3%;
}
button.secondary-btn.left {
	left: 300px
}
button.secondary-btn.right {
	left: 500px;
}

button {
	background-color: var(--color-button-default);
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 1ex;
	font-size: 2em;

	cursor: pointer;

	transition: background-color 300ms, color 300ms;
	/* TODO: make height adjustment work */

	overflow: hidden;

	width: 400px;
	height: 80px;
	transform: translate(0px, 0px); /* remove this and everything falls apart */
}

button::before {
	background-color: var(--color-button-hover);
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: transform 300ms ease, background-color 300ms;

    transform: skewX(0deg) translateY(-100%);
}
button[disabled]::before {background-color: #ffffff33}

button p {
	position: relative;
	margin: 0px;
	padding: 0px;
	color: var(--color-text);

	transition: color 300ms;
	z-index: 100;
}
button:not([disabled]):hover p {color: var(--color-button-text-hover-inverted)}
button:hover::before {transform: skewX(0deg) translateY(0%)}

@keyframes spin-infinite {
	0%{stroke-dasharray:0.01px 43.97px;transform:rotate(0deg)}
	50%{transform:rotate(450deg);stroke-dasharray:21.99px 21.99px}
	100%{stroke-dasharray:.01px 43.97px;transform:rotate(1080deg)}
}

#_d_advanced {
	position: fixed;
	left: 8%;
	top: 8%;
	height: 450px;
	width: 600px;
}

dialog {
	padding: 30px;
	background-color: var(--color-bg-secondary);
	border-radius: 1ex;
	color: var(--color-text);
	border: none;

	transition: opacity 0.3s, transform 0.3s;
}
